{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  <h1>{% trans "Custom Forecasts" %}</h1>
  <p>{% trans "Do you need to check the weather every day but have trouble remembering? Maybe you need to check the weather for several places at once. Or maybe you only want to know if it's going to rain or snow or get really freakin' cold. With these custom forecast emails, you set what and where you want to know about and your personalized forecast is delivered to your inbox every morning. Unless of course there's nothing happening, in which case you get nothing." %}</p>
  <p>{% trans "No more checking the forecast when you don't need to or chasing down projected temperatures for the middle of the night." %}</p>
</div>
{% endblock %}
