# General settings
DJANGO_READ_DOT_ENV_FILE=False
DJANGO_DEBUG=True
# DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=
# DJANGO_ALLOWED_HOSTS=

# Used with email
DJANGO_DEFAULT_FROM_EMAIL=
DJANGO_EMAIL_SUBJECT_PREFIX=
EMAIL_PORT=
EMAIL_HOST=
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Open Weather Map Stuff
OWM_API_KEY=

